// App Colors 
$app-background: #ecf0f3;
$text-offwhite: rgb(224, 223, 223);
$accent: rgb(179, 122, 255);
$secondary: rgb(54, 54, 54);

// Fonts
$title-font: 'Limelight', cursive;
$main-font: 'Lato', sans-serif;