// Imports / Variables
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Limelight&display=swap');
// font-family: 'Lato', sans-serif;
// font-family: 'Limelight', cursive;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import './variables';

// Pages
@import './pages/Home/home';
@import './pages/Contact/contact';

// Components
// @import './components/ComponentName/componentname';

// Layout
@import './layout/layout';


// Global CSS
body {
    font-family: $main-font;
    background-color: black;
    color: $text-offwhite;
}

header {
    margin-top: 2rem;
    padding: 2rem;
    width: 100%;
}

h1 {
   visibility: hidden;
}